html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Chiều cao tối thiểu bằng viewport */
}

main {
    flex: 1; /* Đẩy footer xuống dưới */
}